<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- URDF and TF -->
  <include file="$(find nav_tf_urdf2)/launch/state_publisher.launch"/>

  <!-- Map File -->
  <arg name="map_file" default="$(find navigation)/map/map11.yaml"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
    <!-- <param name="frame_id" value="/map"/> -->
  <!-- </node> -->

  <!-- AMCL -->
  <include file="$(find navigation)/launch/amcl.launch"/>

  <!-- Move_base -->
  <include file="$(find navigation)/launch/move_base.launch"/>

  <!-- Rviz -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find navigation)/rviz/full.rviz" />

</launch>