<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- URDF and TF -->
  <include file="$(find nav_tf_urdf2)/launch/display.launch"/>

  <!-- Map File -->
  <arg name="map_file" default="$(find navigation)/map/map4.yaml"/>
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />


</launch>