<launch>
  <node pkg="rosserial_arduino" type="serial_node.py" name="serial_node" output="screen">
    <!-- <param name="port" value="/dev/ttyUSB0"/> -->
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>
  <node name="convert_vel_node" pkg="navigation" type="convert_vel.py" output="screen"/>
</launch>
